#contenedor{
    max-width: 100%;
    min-height: 100vh;
}

header {
    background-color: #f6861d;
    color: white;
}


nav{
    background-color: #f6861d; 
    text-align: right;
}

nav a{
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 6px;
}

nav a:hover{
    background-color: white;
    color: #1d285e;
}

nav a.active{
    background-color: white;
    color:#1d285e;
}

aside{
    
    border: s;
}

h1{
    margin: auto;
    height: auto;
    
}

#foto{
    float: left;
}

#foto img{
    height: 150px;
    width: 150px;
}

#inicio{
    margin: 10px;
    padding: 10px;
    float: right;
    height: auto;
    width: auto;
}

#titulo{
    font-size: 9vw;
    font-family: 'Times New Roman', Times, serif;
}

#nosotros{
    font-size: 3vw;
}

#ftpry{
    margin-left: 5%;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
}
